extends layout

block content
  .inner
    h2= title
      table
        thead
          tr: th Games
        tbody
          each game in games
            tr
              td 
                a(href=`/game/${game.id})`)
